<div class="bodyBackground container-fluid px-4">
    <div class="d-flex justify-content-center pt-4">
        <img class="py-6" src="/assets/images/koala.png" alt="koala">
    </div>
    <div class="d-flex justify-content-center py-5">
        <img src="/assets/images/k1_9.png" alt="magazineStack1">
        <img src="/assets/images/k10_18.png" alt="magazineStack2">
        <img src="/assets/images/k19_27.png" alt="magazineStack3">
    </div>
    <div class="d-flex justify-content-center py-3">
        <img class="px-5" src="/assets/images/koala28.png" alt="magazine1">
        <img class="px-5" src="/assets/images/koala29.png" alt="magazine2">
        <img class="px-5" src="/assets/images/koala30.png" alt="magazine3">
        <img class="px-5" src="/assets/images/koala31.png" alt="magazine4">
        <img class="px-5" src="/assets/images/koala32.png" alt="magazine5">
    </div>
    <div class="d-flex justify-content-center py-2">
        1 db magazin ára: 1200 Ft
    </div>
    <div class="d-flex justify-content-center py-2">
        1 éves előfizetés (4 db magazin) ára: 4500 Ft
    </div>
    <div class="d-flex justify-content-center py-2 pb-3">
        <span>Megvásárolható és előfizethető a terjesztőknél és az alábbi email címen, illetve telefonszámon:</span>
    </div>
    <div class="d-flex justify-content-center py-1">
        koalaMagazin@gmail.com
    </div>
    <div class="d-flex justify-content-center py-1
    pb-4">
        Telefon: 555-905
    </div>
</div>