.cardLogo{
    width: 150px;
    height: 150px;
    margin:auto;
    flex-direction: row;
    justify-content: center;
}

.print-button-body{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

@media print {
    .printPreview, .print-button-body, body * {
      visibility: hidden;
    }
    #printableArea, #printableArea * {
      visibility: visible;
    }
    #printableArea {
      position: relative;
      left: 100;
      top: 100;
    }
  }