<div class="container-fluid px-4">
    <h2 class="d-flex justify-content-center py-2">Number of Subscribers</h2>
    <div class="btn-group w-100 col-12 py-2">
        <button *ngIf="clickCounter < 1" class="btn btn-info" (click)="displayCharts()">
            <h5>RefreshAll <i class="fas fa-sync-alt"></i></h5>

        </button>
    </div>
    <h4 class="pt-4">Year 2021:</h4>
    <div class="col-10 offset-1 py-3">
        <div style="display: block">
            <canvas mdbChart [chartType]="chartType" [datasets]="chartDatasets2021" [labels]="chartLabels"
                [colors]="chartColors" [options]="chartOptions" [legend]="true" (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
            </canvas>
        </div>
    </div>
    <h4 class="pt-4">Year 2020:</h4>
    <div class="col-10 offset-1 py-3">
        <div style="display: block">
            <canvas mdbChart [chartType]="chartType" [datasets]="chartDatasets2020" [labels]="chartLabels"
                [colors]="chartColors" [options]="chartOptions" [legend]="true" (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
            </canvas>
        </div>

    </div>
    <h4 class="pt-4">Year 2019:</h4>
    <div class="col-10 offset-1 py-3">
        <div style="display: block">
            <canvas mdbChart [chartType]="chartType" [datasets]="chartDatasets2019" [labels]="chartLabels"
                [colors]="chartColors" [options]="chartOptions" [legend]="true" (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
            </canvas>
        </div>

    </div>
</div>